{{ partial "header.html" . }}
<section role="main">
	<h1 class="writings">{{.Site.Author.name}}干货文章</h1>
		<p class="feature">
		  自2013年01月01日起，累计分享{{len (where .Site.Pages "Section" "blog")}}篇文章。涉及产品设计、软件开发 、微信、摄影、软件工具等等。
		</p>  
  {{ range .Site.Pages.GroupByDate "2006年" }}

     <h2 class="hlisting">{{ .Key }}</h2> 
      <ul class="listing">
      {{ range where .Pages "Section" "blog" }} 
	      <li ><a href="{{ .RelPermalink }}">{{ .Title }}</a><span style="float:right">{{ .Date.Format "2006-01-02" }}</span></li>
	{{end}}    
    </ul>
  {{ end }}
		
</section>

{{partial "sidebar.html"}}
{{partial "nav.html" .}}
{{ partial "footer.html" . }}
