{{ partial "header.html" . }}
<section role="main">
	<h1 class="writings">{{.Site.Author.name}}干货文章</h1>
		<p class="feature">
		  自2013年01月01日起，累计分享{{len .Data.Pages}}篇博文。涉及产品设计、软件开发 、微信、摄影、软件工具等等。
		</p> 
		{{ range .Data.Pages.GroupByParam "slug" }}
<h3>{{ .Key }}</h3>
<ul>
    {{ range .Pages }}
    <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    </li>
    {{ end }}
</ul>
{{ end }}

 
  {{ range  .Data.Pages.GroupByDate "2006年" }} 
     <h2 class="hlisting">{{ .Key }}</h2> 
      <ul class="listing"> 
          {{range .Pages}}
	      <li ><a href="{{ .RelPermalink }}">{{ .Title }}</a><span style="float:right">{{ .Date.Format "2006-01-02" }}</span></li>
          {{end}}
    </ul>
  {{ end }}
		
</section>

{{partial "sidebar.html"}}
{{partial "nav.html" .}}
{{ partial "footer.html" . }}
