{{ partial "header.html" . }}
<section role="main">
	<h1 class="writings">虞双齐干货文章</h1>
		<p class="feature">
		  自2013年01月01日起，累计分享{{len .Site.Pages}}篇文章。涉及产品设计、软件开发 、微信、摄影、软件工具等等。
		</p>
		
		<ul class="bookslist group">
  {{ $data := .Data }}
    {{ range $key,$value := .Data.Index.ByCount }} 
    <li class="group"> 
		<div class="bookgroup">
		<h4 class="writings"><a href="/topics/{{ $value.Name }}.html" >{{ $value.Name }}</a></h4>
		<q class="bquote"><strong>{{ $value.Count }}</strong>篇
		<!-- <cite><a href="http://www.abookapart.com/products/mobile-first">—Ethan Marcotte</a></cite> -->
		</q>
		</div>
		</li>

    {{ end }}
		</ul>

  {{ range .Site.Pages.GroupByDate "2006年" }}

     <h2 class="hlisting">{{ .Key }}</h1> 
      <ul class="listing">
      {{ range where .Pages "Section" "blog" }} 
	      <li ><a href="{{ .RelPermalink }}">{{ .Title }}</a><span style="float:right">{{ .Date.Format "2006-01-02" }}</span></li>
	{{end}}    
    </ul>
  {{ end }}
		
</section>

{{partial "sidebar.html"}}
{{partial "nav.html" .}}
{{ partial "footer.html" . }}
