/* 
* @Author: 虞双齐
* @Date:   2016-01-08 15:26:09
* @Last Modified by:   ysqi
* @Last Modified time: 2016-01-09 12:16:35
*/
.home-left{  
    text-align: center;
}
.home-right{
	/*box-shadow: -2px 0 0 #5cb85c, 0 -2px 0 #5bc0de,  0 2px 0 #f0ad4e,0 5px 15px #337ab7; */
}
/*
header{
    border-right: 1px #bdc3c7 solid;
    padding: 2em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: #2c3e50;
    color: #ecf0f1;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 48em) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    text-align: left;
  }
  main {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em){
    main {
        max-width: 44rem;
        margin-left: 20rem;
        margin-right: 2rem;
    }
}*/



.pl {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-left: 1px solid transparent;  
}

.pl-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-left: 11px solid; 
    font-size: 2.4rem;
}
.pl-body {
    padding: 15px;
}

.pl-default > .pl-heading {
    color: #333333;
 	border-bottom: dotted 1px #7d9958;
}


.avatar{
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
    border-radius: 50%;
}

.vcard > .avatar {
    max-width: 70px;
    max-height: 70px;
    display: inline-block;
}

.vcard-name{
    vertical-align: middle;
    text-align: center;
}
.vcard-fullname{

}

.ysq-padding-left-0{
    padding-left: 0px;
}

.ysq-text-xxxl {
    font-size: 4.2rem;
}
.ysq-text-xl {
    font-size: 2.4rem;
}
.ysq-margin-top{
    margin-top:16px; 
}

.list-group-item > .date {
    float: right;
}
 

.border-left-one{
     border-left: solid 11px #a02d24;
}

.border-left-two{
    border-left: solid 11px #ee9d05;    
}
.border-left-three{
    border-left: solid 11px #3ba1c9;
}
.border-left-one:hover{
     border-left-color: #7d9958;
}
.border-left-two:hover{
     border-left-color: #7d9958;
}
.border-left-three:hover{
     border-left-color: #7d9958;
}

.nav-bar > li {
    float: left;
}
.nar-bar {
    border-bottom: dotted 1px #7d9958;
}
