{{ partial "header.html" . }}
<section role="main">
<article class="entry writingsentry" itemscope itemtype="http://schema.org/BlogPosting"> 
<header>
<h2  itemprop="headline"> <a rel="bookmark">{{ .Title }}</a> </h2> 
<p class="attribution" >
    <span itemprop="author">
        <span itemscope itemtype="http://schema.org/Person">
            文/<a href="{{.Site.BaseURL}}"> <span itemprop="name">{{ .Site.Author.name }}</span></a> 
        </span>
    </span>
    <span class="right">
        <time itemprop="datePublished" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2006年01月02日" }}</time> 
    </span> 
</p>
</header>
<div itemprop="articleBody">
 {{ .Content }} 
</div>
{{ partial "meta_aside.html" . }}
</article>
</section>

{{ partial "sidebar.html" .}}
{{ partial "nav.html" .}}
{{ partial "footer.html" .}}
