{{ partial "header.html" . }}
<section role="main">
<article class="entry writingsentry" itemscope itemtype="http://schema.org/BlogPosting"> 
<header>
<h1  itemprop="headline"> <a rel="bookmark" href="{{.Permalink}}">{{ .Title }}</a> </h1> 
<p class="attribution" >
    <span itemprop="author">
        <span itemscope itemtype="http://schema.org/Person">
            文/
 {{if .Params.source}} 
          <a href="{{.Params.source}}" rel="nofollow" target="_blank">属转载,查看原文
          <span itemprop="name" style="display: none;">{{ .Site.Author.name }}</span></a></span>
           {{else}}
            <a href="{{.Site.BaseURL}}"> <span itemprop="name">{{ .Site.Author.name }}</span></a> 
        {{end}}
        </span>
    </span>
    <span class="right">
        <time itemprop="datePublished" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2006年01月02日" }}</time> 
    </span> 
</p>
</header>
<div itemprop="articleBody">
 {{ .Content }} 
</div>
{{ partial "meta_aside.html" . }}
</article>
<div>
{{ partial "blog_more.html" . }}
</div>
</section>

{{ partial "sidebar.html" .}}
{{ partial "nav.html" .}}
{{ partial "footer.html" .}}
