{{ partial "header.html" . }}
<section role="main">
<h1> {{ .Title }}</h1> 
<p class="attribution" itemscope="" itemtype="http://schema.org/Person">by <a href="/about/">
<span itemprop="name">{{ .Site.Author.name }}</span></a> <span class="right">{{ .Date.Format "2006年01月02日" }}</span>
<a href="{{.Site.BaseURL}}" rel="author"></a></p>
 
<article class="entry writingsentry">
 {{ .Content }}
</article>
{{ partial "meta_aside.html" . }}
</section>

{{ partial "sidebar.html" .}}
{{ partial "nav.html" .}}
{{ partial "footer.html" .}}
