{{ define "title" }}{{ i18n .Data.Plural }} - {{ .Site.Title }}{{ end }}

{{ define "content" }}
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}} 
    {{ range $key, $value := $terms }}
      <section id="archive" class="archive">
        <div class="archive-title">
        </div>
          <div class="collection-title">
            <h2 class="archive-year">
              <a href="{{ $name | urlize | relURL }}/{{ $value.Term | urlize }}{{if $.Site.Params.uglyURLs}}.html{{else}}/{{end}}">
                专题：{{title $value.Term }}
              </a>
            </h2>
          </div>

          {{- range first 5 $value.Pages -}}
            <div class="archive-post">
              <span class="archive-post-time">
                {{ .Date.Format "2006-01-02" }}
              </span>
              <span class="archive-post-title">
                <a href="{{ .URL }}" class="archive-post-link">
                  {{ .Title }}
                </a>
              </span>
            </div>
          {{- end -}}
          {{ if gt (len $value.Pages) 5 }}
            <div class="more-post">
              <a href="{{ $name | urlize | relURL }}/{{ $value.Term | urlize }}{{if $.Site.Params.uglyURLs}}.html{{else}}/{{end}}" class="more-post-link">{{ i18n "morePost" }}</a>
            </div>
          {{- end -}}
      </section>
    {{- end -}}
{{ end }}