{{ partial "header.html" . }}
<section role="main" itemscope="" itemtype="http://schema.org/Person">
	<h1 class="about" itemprop="name">虞双齐</h1>
	<p class="feature">
	 {{.Site.Author.description}}
	</p>

	<article class="content">
		<aside class="panel">
		<a href="{{.Site.Author.aboutme_height}}" class="panelimg" rel=”nofollow”><img itemprop="image" src="{{.Site.Author.aboutme_avatar}}" border="0" class="aboutimg" alt="Luke Wroblewski"></a>
		<ul class="panellinks">

<li class="panellink">
	<a target="_blank" href="http://weibo.com/{{.Site.Author.weibo}}" rel=”nofollow”><img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_16x16.png" />@虞双齐</a>
</li>
			<li class="panellink">
			<a  href="mailto:{{.Site.Author.email}}" style="text-decoration:none;" rel=”nofollow”>写信给我</a>
			<!-- <a href="mailto:{{.Site.Author.email}}">Email 联系虞双齐</a> -->
			</li>
			<li class="panellink">
 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{.Site.Author.qq}}&site=qq&menu=yes" rel=”nofollow”><img border="0" src="http://wpa.qq.com/pa?p=2:{{.Site.Author.qq}}:51" alt="点击这里给虞双齐发QQ消息" title="点击这里给虞双齐发QQ消息"/></a>
</li>
		</ul>
		</aside>
		{{.Content}}
	</article>
	
</section>

{{partial "sidebar.html"}}
{{partial "nav.html"}}
{{partial "footer.html"}}