<div class="attribution">
    {{ partial "baidu_share.html" . }}
</div>
<div>
    <ul class="rel_links">
        <li class="rel_linksli"> 
            <span id="topics">分类:  
        {{ range   .Params.topics  }}
        <a  href="/topics/{{.|urlize}}.html" rel="category">{{title .}}</a>
        {{end}} 
        </span> {{if .Params.tags}}
            <span id="tags">标签:
        {{ range sort .Params.tags }}
        <a href="/tags/{{.|urlize}}.html" rel="tag">{{.}}</a>
        {{ end }}</span> {{end}}
        </li>
       
        {{if .Prev}}
        <li class="rel_linksli rel_prev"><a href="{{.Prev.Permalink}}">{{.Prev.Title}}</a></li>
        {{end}} {{if .Next}}
        <li class="rel_linksli rel_next"><a href="{{.Next.Permalink}}">{{.Next.Title}}</a></li>
        {{end}}
    </ul>
</div>
{{ partial "comment.html" .}}
{{if not .Params.source}} 
<div>
    <section id="author">
        <h4>关于作者</h4>
        <p><strong>{{.Site.Author.name}}</strong>，{{.Site.Author.description}}
        </p>
        <p>动态分享到微博<a href="http://weibo.com/234665601" rel="nofollow">@{{.Site.Author.name}}</a>，代码存放在 <a href="http://github.com/{{.Site.Author.github}}" rel="nofollow">Github</a>，博文分享在
            <a href="{{.Site.BaseURL}}" title="{{.Site.Title}}">个人博客</a>上。</p>
    </section>
</div>
{{end}}