{{if and .IsPage $.Site.Params.xiongzhang.appid (eq "dapps" .Section)}}
<!--  https://ziyuan.baidu.com/xzh/right/resource?appid=1614189312904082  -->
<script type="application/ld+json">
{
    "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
    "@id": "{{.Permalink}}",
    "appid": "{{$.Site.Params.xiongzhang.appid}}",
    "title": "{{.Title}}",
    <!-- "images": [],  请在此处添加希望在搜索结果中展示图片的url，可以添加0个、1个或3个url -->
    "pubDate": "{{.PublishDate.Format "2006-01-02T15:04:05" |safeHTML}}" <!-- 需按照yyyy-mm-ddThh:mm:ss格式编写时间，字母T不能省去 -->
}
</script>
{{end}}
