
<div class="share_sec2">
<!-- <ul class="share_btns">
    <li><a class="share_btn" href="http://www.twitter.com/lukew" title="Follow on Twitter"><span class="share_img share_tw"></span>Follow</a></li>
    <li><a class="share_btn" href="http://feeds.feedburner.com/FunctioningForm" title="Subscribe to News"><span class="share_img share_rss"></span>Subscribe</a></li>
</ul> -->
{{ partial "baidu_share.html" . }}

</div>  

<ul class="rel_links"> 
         {{ range first 3 (where .Site.Pages.ByWeight "Date" "lt" .Date )}} 
                      {{ $has_common_tags := intersect $.Params.topics  .Params.topics  | len | lt 0  }}
                        {{ if $has_common_tags }}
                         <li class="rel_linksli"><a href=""> {{ .Title }}</a></li>
                        {{ end }}
                    {{ end }} 
         {{if .Prev}}
         <li class="rel_linksli rel_prev"><a href="{{.Prev.Permalink}}">{{.Prev.Title}}</a></li>
         {{end}}
         {{if .Next}}
         <li class="rel_linksli rel_next"><a  href="{{.Next.Permalink}}">{{.Next.Title}}</a></li>
         {{end}}

        <li class="rel_linksli">
        <span id="topics">分类:  
        {{ range   .Params.topics  }}
        <a  href="/topics/{{.|urlize}}.html" rel="category">{{title .}}</a>
        {{end}} 
        </span>

        {{if .Params.tags}}
        <span id="tags">标签:
        {{ range sort .Params.tags }}
        <a href="/tags/{{.|urlize}}.html" rel="tag">{{.}}</a>
        {{ end }}</span>
        {{end}}

        </li>
</ul>  

{{ partial "comment.html" .}}
<div>
        <section id="author">
             <h4>About author</h4> 

<p><strong>虞双齐</strong>，开源爱好者，个人承接Golang语言开发。专注Golang、开源协作、微信平台开发和工作经验的分享。
</p>
<p>动态分享到微博<a href="http://weibo.com/234665601" rel="nofollow">@虞双齐</a>，代码存放在 <a href="http://github.com/ysqi" rel="nofollow">Github</a>，博文分享在<a href="https://yushuangqi.com" title="虞双齐Golang开发博客">个人博客</a>上 ，分享经验。</p>
</section>
    </div> 