</div>
<footer class="site-footer">
<ul class="footeractions">
<!-- <li><a class="footeraction" href="http://feeds.feedburner.com/FunctioningForm"><span class="footeractionRSS">Subscribe to News</span></a></li>-->
<li><a class="footeraction" href="http://weibo.com/{{.Site.Author.weibo}}" rel="nofollow" ><span class="footeractionWeibo">Follow on Weibo</span></a></li>
<li>
    <a href="http://validator.w3.org/check?uri={{.Permalink}}" rel="nofollow" target="blank" ><img src="https://static.yushuangqi.com//assets/valid-html401.png" alt="Valid XHTMl 4.0"> </a>
</li>
<li>
    <a href="http://jigsaw.w3.org/css-validator/validator?uri={{.Permalink}}" rel="nofollow" target="blank" ><img src="https://static.yushuangqi.com//assets/valid-css2.png" alt="Valid XHTMl 4.0"> </a>
</li>

</ul>
<p>©2015-2016 {{.Site.Author.name}}-{{.Site.Author.title}}。欢迎<a href="/about.html" rel="nofollow">联系我</a>，{{if .Site.Params.beian}}<a href="http://www.miitbeian.gov.cn/" target="bank" rel="nofollow" style="color:#c9c9c9;">{{.Site.Params.beian}}</a>{{end}} </p>
</footer> 
{{ partial "analytics.html" . }}
</body>
</html>