</div>
<footer class="site-footer">
<ul class="footeractions">
    <li><a class="footeraction" href="http://weibo.com/{{.Site.Author.weibo}}" rel="nofollow" title="在微博关注 {{.Site.Author.name}}">
        <span class="footeractionWeibo">Weibo</span></a></li>
    </li>
    <li><a class="footeraction" href="https://www.zhihu.com/people/{{.Site.Author.zhihu}}" rel="nofollow" title="在微博关注 {{.Site.Author.name}}">
        <span class="footeractionZhiHu">知乎</span></a></li>
    </li>
    
    <li>
        <a class="footeraction" href="/index.xml" title="RSS订阅 {{.Site.Author.name}}">
            <span class="footeractionRSS">Feed</span>
        </a>
    </li> 

    <li>
        <a class="footeraction" href="http://validator.w3.org/check?uri={{.Permalink}}" rel="nofollow" target="blank">
            <span class="footeractionW3CHTML">Valid XHTMl 4.0</span> 
            </a>
    </li>
    <li>
        <a class="footeraction" href="http://jigsaw.w3.org/css-validator/validator?uri={{.Permalink}}" rel="nofollow" target="blank">
             <span class="footeractionW3CCSS">Valid CSS Leval2</span> 
         </a>
    </li>

</ul>
<p>©2015-2016 {{.Site.Author.name}}-{{.Site.Author.title}}。欢迎<a href="/about.html" rel="nofollow">联系我</a>，{{if .Site.Params.beian}}<a href="http://www.miitbeian.gov.cn/" target="bank" rel="nofollow" style="color:#c9c9c9;">{{.Site.Params.beian}}</a>{{end}} </p>
</footer> 
{{ partial "analytics.html" . }}
</body>
</html>