<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        <meta charset="utf-8">
        <title>404 Not Found</title>
        <style>
        	.desc a {
        		color: #6eaf08;
        	}
        </style>
    </head>
    <body> 
     404 Not Found!
 <script type="disabled" src="http://www.qq.com/404/search_children.js" charset="utf-8" 
    homePageUrl="{{.Site.BaseURL}}" homePageName="回到【{{.Site.Author.name}}】的主页"> 
    </script>  
     <script type="text/javascript" src="https://qzone.qq.com/gy/404/data.js" charset="utf-8"></script>
     <script type="text/javascript" src="https://qzone.qq.com/gy/404/page.js" charset="utf-8"></script> 
    </body>
</html>