{{ partial "header.html" . }}
<div class="homecontainer">
<div class=" homelogo vcard">
                    <a href="/about.html" class="vcard-avatar" rel="nofollow" >
                        <img alt="" class="avatar" height="140" src="{{.Site.Author.aboutme_avatar}}" width="140">
                    </a>
                    <h1 class="vcard-name">
						<a href="{{.Site.BaseURL}}" title="{{.Site.Title}}"> <span class="vcard-fullname" >{{.Site.Author.name}}</span></a>
					</h1>
                    <div>
                        <p><h2>{{.Site.Author.title}}</h2> </p>
                        <div>
    <a class="text-normal text-small" href="http://weibo.com/{{.Site.Author.weibo}}" title="{{.Site.Author.name}}的微博" rel="nofollow">Weibo</a><span class="split"></span>
	<a class="text-normal text-small" href="https://github.com/{{.Site.Author.github}}" title="{{.Site.Author.name}}的Github" rel="nofollow">Github</a>
                        </div> 
                    </div>
                </div>
<div class="homesecs">
	<h2 class="homenav"><a href="/about.html" ><span class="homenav_about">关于我</span></a></h2>
	<section class="homesec homesecabout">
	<h3 id="workDays" title="踏入IT行业天数">days</h3>
	<p>{{.Site.Author.description}}</p>
	<p style="text-align:right;"><a href="/about.html" class="about" rel="nofollow" >进一步了解{{.Site.Author.name}}</a></p>
	</section>
	
	<h2 class="homenav homenavor"><a href="/topics.html"><span class="homenav_writings">博文</span></a></h2>
	<section class="homesec homesecwritings">
	<h3>{{len (where .Data.Pages "Section" "blog" ) }}</h3>
	<p>篇IT技术文章分享。</p>
	<ul class="listing">
	 {{ range first 12 ( where .Data.Pages "Section" "blog" ) }}
                                        	<li class="list-group-item">
                                                 <a href="{{ .RelPermalink }}" class="writings text-overflow">
                                                {{ .Title }}{{ if .Draft }} (Draft){{ end }}
                                               <!-- <span class="date">{{ .Date.Format "2006-01-02" }}</span> -->
                                                </a>
                                            </li> 
    									{{ end }}
	  <li><a href="/topics.html" title="查看全部博文">全部...</a></li>
	</ul>
	<h3>{{len .Site.Taxonomies.topics}}</h3>
	<p>个文章分类</p>
	<ul class="blogcategroup"> 
{{ range $key,$value := .Site.Taxonomies.topics.ByCount }} 
 <li><a href="/topics/{{ $value.Name | urlize }}.html" role="button" >{{$value.Name}}</a></li>
{{ end }} 
	  <li></li>

	</ul>
	</section>
	{{if ne (len (where .Data.Pages "Section" "book" ) ) 0 }}
	{{ $books := .Data.Pages.GroupByParam "book_name"}} 
	<h2 class="homenav homenavbl"><a href="/book.html"><span class="homenav_presos">电子书</span></a></h2>
	<section class="homesec homesecpresos">
	<h3>{{len $books}}</h3>
	<p>本软件开发免费电子书</p>
	<ul>
		{{ range first 2 $books}}  
    	{{$bookInfo := index $.Site.Data.books .Key }}
	  	<li>{{$bookInfo.date}}<br>
			<a href="{{range first 1 (sort .Pages "Params.book_chapter"  ) }}{{.Permalink}}{{end}}" class="presos">{{.Key}}</a>
 		</li> 
 		{{end}}
	  <li><a href="/book.html" class="presos" rel="nofollow">查看全部</a></li>
	</ul>
	</section>
	{{end}} 
</div>
{{ partial "footer.html" . }}
