</div>
<footer class="site-footer" role="contentinfo">
<ul class="footeractions">
<!-- <li><a class="footeraction" href="http://feeds.feedburner.com/FunctioningForm"><span class="footeractionRSS">Subscribe to News</span></a></li>-->
<li><a class="footeraction" href="http://weibo.com/{{.Site.Author.weibo}}" rel="nofollow" ><span class="footeractionTW">Follow on Weibo</span></a></li>
</ul>
<p>©2015-2016 虞双齐产品设计与软件开发.{{if .Site.Params.beian}}<a href="http://www.miitbeian.gov.cn/" target="_bank" rel="nofollow">{{.Site.Params.beian}}</a>{{end}} 欢迎<a href="/about/" rel="nofollow">联系我</a></p>

</footer>
{{ partial "analytics.html" . }}
</body>
</html>