<li class="chapter"> 
{{ $isEmpty := eq .WordCount 0 }}
{{if or (in .Params.book_chapter ".") (eq .Params.book_chapter "-") }}
<a href="{{if $isEmpty}}javascript:void();{{else}}{{ .Permalink }}{{end}}" {{if $isEmpty}}class="towrite"{{end}} >
	{{if ne .Params.book_chapter "-" }}<b>{{printf "%s." .Params.book_chapter }} </b>{{end}} 
    {{  .Params.book_chapter_name }}
  	</a>
{{else}}
<a href="{{if $isEmpty}}javascript:void();{{else}}{{ .Permalink }}{{end}}" {{if $isEmpty}}class="towrite"{{end}} >
            				{{if ne .Params.book_chapter "-" }}
            				<b>{{printf "%s." (slicestr .Params.book_chapter  (sub (len .Params.book_chapter) 2) ) }}</b> 
            				{{end}} 
            				{{  .Params.book_chapter_name }}
</a>            				
{{end}}
</li>