<div   class="book-summary">
  <nav role="navigation">

<!-- 获取本书所有文章 -->
 {{$bookPages := sort (where .Site.Pages "Params.book_name" "eq" .Params.book_name ) "Params.book_chapter" }}

<ul class="summary">   
  <li><a href="" class="book-name">{{.Params.book_name}}</a></li>
  <li class="divider"></li>
    {{range $bookPages}}
       {{if eq "-" .Params.book_chapter }}
        {{ partial "book/menuli.html" . }}
       {{else}}
          {{if eq "00" (slicestr .Params.book_chapter 2)}}
            {{ $chapter := first 2 .Params.book_chapter }} <!-- 当前章节编号 -->
            {{ partial "book/menuli.html" . }}
            <ul>
            {{range (where $bookPages "Params.book_chapter" "ne" .Params.book_chapter )}}
                <!-- 下一节章节名长度+2 且 以本章节编号开头。如 0100 子章节编号是：0101、0102、 0111 -->
                {{if and ( eq (len .Params.book_chapter) 4 ) (eq $chapter (first 2 .Params.book_chapter) ) }}
                  {{ partial "book/menuli.html" . }}
                {{end}}
              {{end}}
            </ul>
          {{end}}
        {{end}}
    {{end}}
               <li >
            <a href="http://www.yushuangqi.com" style="padding:5px 10px;">逛虞双齐的博客</a>
          </li> 
  <li class="divider"></li>
          <li > <a style="padding:5px 10px;" href="{{printf "%s%s.html" $.Site.BaseURL  $.Section }}">查看所有电子书</a></li>
  <li class="divider"></li>
  <li>本书由虞双齐整理提供，著作版权归原作者。</li>
         

      </ul>
      <div>
      </div>
    
</nav>
</div> 
 