 <!-- 获取本书所有文章 -->
 {{$bookPages := sort (where .Site.Pages "Params.book_name" "eq" .Params.book_name ) "Params.book_chapter"  }}
 <span class="btn pull-left"> 上节：
<!-- 先确认同级是否有 -->
{{ $pages := sort (where  $bookPages "Params.book_chapter" "<" .Params.book_chapter ) "Params.book_chapter"  "desc"  }}
{{if $pages}}
{{ range first 1 $pages}}
<a href="{{.Permalink }}">{{ .Title }}</a>
{{end}}
{{else}}
没了，<a href="{{printf "%s%s.html" $.Site.BaseURL  $.Section }}">查看所有电子书</a>
{{end}}
</span>
 <span class="btn pull-right"> 下节：
{{ $pages := sort (where  $bookPages "Params.book_chapter" ">" .Params.book_chapter ) "Params.book_chapter" }}
{{if $pages}}
{{ range first 1 $pages}}
<a href="{{.Permalink }}">{{ .Title }}</a>
{{end}}
{{else}}
没了，<a href="{{printf "%s%s.html" $.Site.BaseURL  $.Section }}">查看所有电子书</a>
{{end}}
</span>